/*! jQuery Statusbar  v0.3 */
.msg__container {
	position: relative;
	font-family: arial,sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
.msg__inner {
	position: absolute;
	width: auto;
}
.msg__center > .msg__inner {
	width: 100%;
	text-align: center;
}
.msg__top > .msg__inner {
	top: 0;
}
.msg__bottom {
	height: 100%;
}
.msg__bottom > .msg__inner {
	bottom: 14px;
}
.msg__left > .msg__inner {
	left: 0;
}
.msg__right > .msg__inner {
	right: 0;
}
.msg__inner .msg__text {
	position: relative;
	top: 8px;
	z-index: 90;
	display: inline-block;
	margin: -6px 0;
	padding: 6px 0 6px 10px;
	border: 1px solid transparent;
	border-color: #f0c36d;
	border-radius: 2px;
	background: #f9edbe;
	background-color: #f9edbe;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	color: #222;
	text-align: center;
	font-weight: bold;
	font-size: 80%;
}

.msg__text > span {
	font-weight: normal;
	padding: 0 0 0 6px;
}

.msg__inner a {
	margin-left: 10px;
	color: #222;
	text-decoration: underline;
	white-space: nowrap;
}

.msg__inner  > .msg__close-button {
	position: relative;
	top: 11px;
	right: 22px;
	z-index: 91;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==);
	cursor: pointer;
}

.msg__inner > .msg__close-button:hover {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqklEQVR4XqWRMQ6DMAxF/1Fyilyj2SmIBUG5QcTCyJA5Z8jGhlBPgRi4TmoDraVmKFJlWYrlp/g5QfwRlwEVNWVa4WzfH9jK6kCkEkBjwxOhLghheMWMELUAqqwQ4OCbnE4LJnhr5IYdqQt4DJQjhe9u4vBBmnxHHNzRFkDGjHDo0VuTAqy2vAG4NkvXXDHxbGsIGlj3e835VFNtdugma/Jk0eXq0lP//5svi4PtO01oFfYAAAAASUVORK5CYII=);
}

.msg__container.msg__closeable .msg__text {
	padding-right: 25px;
}